apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-compare-api-service.fullname" . }}
  labels:
    {{- include "data-compare-api-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "data-compare-api-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "data-compare-api-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "data-compare-api-service.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: NBS_DBSERVER
              value: {{ .Values.jdbc.dbserver }}
            - name: NBS_DBUSER
              value: {{ .Values.jdbc.username }}
            - name: NBS_DBPASSWORD
              value: {{ .Values.jdbc.password }}
            - name: DC_SERVER_HOST
              value: {{ .Values.ingressHost }}
            - name: DC_AUTH_URI
              value: {{ .Values.authUri }}
            - name: S3_BUCKET_NAME
              value: {{ .Values.s3.bucketName }}
            - name: S3_REGION
              value: {{ .Values.s3.region }}
            - name: AZURE_STORAGE_ACCOUNT_NAME
              value: {{ .Values.azure.storageAccountName }}
            - name: AZURE_CONTAINER_NAME
              value: {{ .Values.azure.containerName }}
            - name: AZURE_CONNECTION_STRING
              value: {{ .Values.azure.connectionString }}
            - name: AZURE_SAS_TOKEN
              value: {{ .Values.azure.sasToken }}
            - name: AZURE_MANAGED_IDENTITY
              value: {{ .Values.azure.managedIdentity.enabled | quote }}
            - name: KAFKA_BOOTSTRAP_SERVER
              value: {{ .Values.kafka.cluster }}  
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}