replicaCount: 1

env: "prod"

authUri: ""


image:
  repository: "quay.io/us-cdcgov/cdc-nbs-modernization/nnd-case-notification-service/data-extraction-service"
  pullPolicy: IfNotPresent
  tag: "v1.0.2"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8098"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8090
  httpsPort: 443


resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: ""

kafka:
  cluster: ""

# dbserver is passed in as an environment variable. It is just the database endpoint
jdbc:
  dbserver: ""
  username: ""
  password: ""
