replicaCount: 1
env: "dts1"
timezone: "UTC"
image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.79df56b
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"
  linkerd.io/inject: "disabled"
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8091
  httpsPort: 443
# Kubernetes resource limits
resources: {}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
#################################################################################################
# Corresponds to changelogs to run below. Note, they run in the order they appear in this list
# Going down the list if any updates fail, the container errors and the rest are not run
enabled_databases:
  srte: "enabled"
  odse: "enabled"
  rdb: "enabled"
  rdb_modern: "enabled"
  master: "enabled"
  odseAdminTasks: "enabled"
  srteAdminTasks: "enabled"
changelog:
  srte: "db.srte.changelog-16.1.yaml"
  odse: "db.odse.changelog-16.1.yaml"
  rdb: "db.rdb.changelog-16.1.yaml"
  rdb_modern: "db.rdb_modern.changelog-16.1.yaml"
  master: "db.master.changelog-16.1.yaml"
  odseAdminTasks: "db.odse.admin.tasks.changelog-16.1.yaml"
  srteAdminTasks: "db.srte.admin.tasks.changelog-16.1.yaml"
#################################################################################################

jdbc:
  # Override in argocd deployment
  master_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT.nbspreview.com:1433;databaseName=master;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  srte_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=nbs_srte;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  odse_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT.nbspreview.com:1433;databaseName=nbs_odse;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  rdb_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT.nbspreview.com:1433;databaseName=rdb;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  rdb_modern_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT.nbspreview.com:1433;databaseName=rdb_modern;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  username: ""
  password: ""
  srte_username: ""
  srte_password: ""
