replicaCount: 1

env: "prod"
timezone: "UTC"

image:
  #repository: "public.ecr.aws/o1z7u2g7/cdc-nbs-modernization/liquibase-service"
  repository: "quay.io/us-cdcgov/cdc-nbs-modernization/liquibase-service"
  tag: "v1.1.8"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"
  linkerd.io/inject: "disabled"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8091
  httpsPort: 443

ingress:
  enabled: true
  className: "nginx"
  tls:
    - secretName: app.EXAMPLE_DOMAIN
      hosts:
        - app.EXAMPLE_DOMAIN


# Kubernetes resource limits
resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

#################################################################################################
# Corresponds to changelogs to run below. Note, they run in the order they appear in this list
# Going down the list if any updates fail, the container errors and the rest are not run
enabled_databases:
  srte: "enabled"
  odse: "enabled"
  rdb: "disabled"
  rdb_modern: "enabled"
  master: "enabled"
  odseAdminTasks: "disabled"
  srteAdminTasks: "disabled"

changelog:
  srte: "db.srte.changelog-16.1.yaml"
  data_ingest: "db.data_ingest.changelog-16.1.yaml"
  msgoute: "db.msgoute.changelog-16.1.yaml"
  odse: "db.odse.changelog-16.1.yaml"
  rdb: "db.rdb.changelog-16.1.yaml"
  rdb_modern: "db.rdb_modern.changelog-16.1.yaml"
  master: "db.master.changelog-16.1.yaml"
  odseAdminTasks: "db.odse.admin.tasks.changelog-16.1.yaml"
  srteAdminTasks: "db.srte.admin.tasks.changelog-16.1.yaml"
#################################################################################################

jdbc:
  master_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=master;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  srte_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=nbs_srte;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  odse_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=nbs_odse;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  rdb_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=rdb;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  rdb_modern_db_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=rdb;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  data_ingest_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=nbs_dataingest;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  msgoute_url: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=nbs_msgoute;integratedSecurity=false;encrypt=true;trustServerCertificate=true"
  username: "EXAMPLE_ODSE_DB_USER"
  password: "<<EXAMPLE_ODSE_DB_USER_PASSWORD>>"
  srte_username: "EXAMPLE_SRTE_DB_USER"
  srte_password: "<<EXAMPLE_SRTE_DB_USER_PASSWORD>>"

odse:
  dbname: "NBS_ODSE"

rdb:
  dbname: "rdb_modern"

