apiVersion: v1
kind: Service
metadata:
  name: deduplication-api
  labels:
    {{- include "deduplication-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      name: http
    - port: {{ .Values.service.httpsPort }}
      targetPort: {{ .Values.service.port }}
      name: https
  selector:
    {{- include "deduplication-api.selectorLabels" . | nindent 4 }}
