replicaCount: 1

env: "dts1"

authUri: ""


image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 7.11.0-SNAPSHOT.24caff9

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8088
  httpsPort: 443

resources:
  limits:
    memory: "2Gi"
    cpu: "1000m"
  requests:
    memory: "1Gi"
    cpu: "500m"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "dataingestion.dts1.nbspreview.com"

springBootProfile: "dev"

jdbc:
  dbserver: ""
  username: ""
  password: ""
