apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-sas-linux
  labels:
    app: {{ .Release.Name }}-sas-linux
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-sas-linux
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-sas-linux
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
      - name: sas-linux-container
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.service.port }}
        env:
        {{- range $key, $value := .Values.env }}
        - name: {{ $key }}
          value: "{{ $value }}"
        {{- end }}

        {{- if .Values.probes.readiness.enabled | default "true"  }}
        readinessProbe:
          tcpSocket:
            port: {{ .Values.service.port }}
          initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds | default "30" }}
          periodSeconds: {{ .Values.probes.readiness.periodSeconds | default "10" }}
          failureThreshold: {{ .Values.probes.readiness.failureThreshold | default "5" }}
        {{- end }}

        {{- if .Values.probes.liveness.enabled | default "true"  }}
        livenessProbe:
          tcpSocket:
            port: {{ .Values.service.port }}
          initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds | default "60" }}
          periodSeconds: {{ .Values.probes.liveness.periodSeconds | default "30" }}
          failureThreshold: {{ .Values.probes.liveness.failureThreshold | default "5" }}
        {{- end }}