replicaCount: 1

env: "fts1"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.f646f56

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8082
  httpsPort: 443

ingress:
  enabled: true
  className: "nginx"
  tls:
  - secretName: app.fts1.nbspreview.com
    hosts:
    - app.fts1.nbspreview.com

# Kubernetes resource limits
resources:
  limits:
    memory: "2Gi"  
    cpu: "1000m"      
  requests:
    memory: "1Gi"  
    cpu: "500m"    

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "app.fts1.nbspreview.com"

jdbc:
  dbserver: ""
  username: ""
  password: ""

nbs:
  authuser: ""

kafka:
  cluster: ""

features:
  modernizedMatching:
    enabled: true
    url: http://deduplication-api.default.svc.cluster.local:8083/api/deduplication

log:
  path: "/usr/share/dataprocessing/data"

dataingestion:
  uri: ""

keycloak:
  srte:
    clientId: ""
    clientSecret: ""

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true

springBootProfile: "prod"