replicaCount: 1

env: "demo"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT-1.4f1c378

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8082
  httpsPort: 443

ingress:
  enabled: true
  className: "nginx"
  tls:
  - secretName: app.demo.nbspreview.com
    hosts:
    - app.demo.nbspreview.com

# Kubernetes resource limits
resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "app.demo.nbspreview.com"

jdbc:
  dbserver: ""
  username: ""
  password: ""

nbs:
  authuser: ""

kafka:
  cluster: ""

log:
  path: "/usr/share/dataprocessing/data"

dataingestion:
  uri: ""

keycloak:
  clientId: ""
  clientSecret: ""

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true


springBootProfile: "prod"