replicaCount: 1

env: "int1"
timezone: "UTC"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: "1.0.1-SNAPSHOT.5bf2058"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8094
  httpsPort: 443

ingress:
  enabled: true
  className: "nginx"
  tls:
  - secretName: app.int1.nbspreview.com
    hosts:
    - app.int1.nbspreview.com

# Kubernetes resource limits
resources:
  limits:
    memory: "1Gi"  
    cpu: "500m"      
  requests:
    memory: "512Mi"  
    cpu: "250m"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "app.int1.nbspreview.com"

jdbc:
  username: ""
  password: ""

odse:
  dburl: ""

kafka:
  cluster: ""

log:
  path: "/usr/share/observationreporting/data"

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true