apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-processing-service.fullname" . }}
  labels:
    {{- include "data-processing-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "data-processing-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "data-processing-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "data-processing-service.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          
          {{- if .Values.probes.readiness.enabled | default "true"  }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds | default "30" }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds | default "10" }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold | default "5" }}
          {{- end }}

          {{- if .Values.probes.liveness.enabled | default "true"  }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds | default "60" }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds | default "30" }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold | default "5" }}
          {{- end }}

          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: RC_CLIENT_ID
              value: {{ .Values.keycloak.srte.clientId }}
            - name: RC_CLIENT_SECRET
              value: {{ .Values.keycloak.srte.clientSecret }}
            - name: RC_URL
              value: {{ .Values.dataingestion.uri }}
            - name: RC_EP_TOKEN
              value: /data/api/auth/token
            - name: RC_EP_CACHE_STR
              value: /data/srte/cache/string
            - name: RC_EP_CACHE_CONTAIN
              value: /data/srte/cache/contain
            - name: RC_EP_CACHE_OBJ
              value: /data/srte/cache/object
            - name: EP_CACHE_LOCALID
              value: /data/odse/localId
            - name: NBS_DBSERVER
              value: {{ .Values.jdbc.dbserver }}
            - name: NBS_DBUSER
              value: {{ .Values.jdbc.username }}
            - name: NBS_DBPASSWORD
              value: {{ .Values.jdbc.password }}
            - name: NBS_AUTH_USER
              value: {{ .Values.nbs.authuser }}
            - name: KAFKA_BOOTSTRAP_SERVER
              value: {{ .Values.kafka.cluster }}
            - name: SERVICE_TZ
              value: {{ .Values.timezone | default "UTC"}}
            - name: KAFKA_THREAD
              value: "{{ .Values.kafkaThread}}"
            - name: MODERNIZED_MATCHING_ENABLED
              value: {{ .Values.features.modernizedMatching.enabled | default false | quote }}
            - name: MODERNIZED_MATCHING_URL
              value: {{ .Values.features.modernizedMatching.url | default "" }}
            - name: THREAD_FLAG
              value: {{ .Values.thread.enabled  | quote}}
            - name: THREAD_POOL_SIZE
              value: "{{ .Values.thread.size }}"
            - name: THREAD_BATCH_SIZE
              value: "{{ .Values.thread.batchSize }}"
            - name: PROCESSOR_DELAY
              value: "{{ .Values.thread.processorDelay }}"
            - name: UID_POOL_SIZE
              value: "{{ .Values.uid.poolSize }}"
            - name: UID_MIN_POOL_SIZE
              value: "{{ .Values.uid.minPoolSize }}"
            - name: HIKARI_POOL_SIZE
              value: "{{ .Values.hikari.poolSize }}"
            - name: HIKARI_MINIMUM_IDLE
              value: "{{ .Values.hikari.minIdle }}"
            - name: HIKARI_IDLE_TIMEOUT
              value: "{{ .Values.hikari.conIdleTimeout }}"
            - name: HIKARI_CON_TIMEOUT
              value: "{{ .Values.hikari.conTimeout }}"
            - name: HIKARI_MAX_LIFETIME
              value: "{{ .Values.hikari.maxLifeTime }}"
            - name: LEAK_DETECTION_THRESHOLD
              value: "{{ .Values.hikari.leakDetectThresHold }}"
            - name: SPRING_PROFILES_ACTIVE
              value: "{{ .Values.springBootProfile}}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
