replicaCount: 1
env: "int1"
image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.5dbb612
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8080
  httpsPort: 443
  gatewayPort: 8000
  pageBuilderPort: 8095
pageBuilder:
  enabled: "true"
  page:
    library:
      enabled: "true"
    management:
      create:
        enabled: "true"
      edit:
        enabled: "true"
ingress:
  enabled: true
  className: "nginx"
  tls:
    - secretName: app.int1.nbspreview.com
      hosts:
        - app.int1.nbspreview.com
# determine whether or not to use istio-gateway for ingress (only 1 ingress should be used to prevent conflicts)
istioGatewayIngress:
  enabled: false
  host: app.int1.nbspreview.com
  gatewayNamespace: "istio-ingress"
  certificateName: ""
  certificateIssuerName: "letsencrypt-production"
mTLS:
  enabled: true
nbsExternalName: app-classic.int1.nbspreview.com
resources:
  limits:
    memory: "1Gi"
    cpu: "500m"
  requests:
    memory: "512Mi"
    cpu: "250m"
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
ingressHost: "app.int1.nbspreview.com"
elasticSearchHost: "http://elasticsearch.default.svc.cluster.local:9200"
jdbc:
  connectionString: ""
  user: ""
  password: ""
security:
  # Used to encrypt JWT, needs to match between page builder and modernization-api
  # Random value can be generated by running: openssl rand -base64 64
  # Windows users, use git bash shell
  tokenSecret: ""
  # Used to encrypt search parameters
  # Random value can be generated by running: openssl rand -base64 32 | cut -c1-32
  parameterSecret: ""
# OIDC settings
oidc:
  enabled: "true"
ui:
  search:
    investigations:
      enabled: true
    laboratoryReports:
      enabled: true
  patient:
    file:
      enabled: true
      mergeHistory:
        enabled: true
  deduplication:
    enabled: true
    merge:
      enabled: true
  system:
    management:
      enabled: true
# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true
