replicaCount: 1

env: "test"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-RC_20230906.de03452

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080
  httpsPort: 443
  gatewayPort: 8000
  pageBuilderPort: 8095

pageBuilder:
  enabled: "false"

# nginx-ingress
ingress:
  enabled: true
  className: "nginx"
  tls:
    - secretName: app.test-cdc-nbs.eqsandbox.com
      hosts:
        - app.test-cdc-nbs.eqsandbox.com

nbsExternalName: app-classic.test-cdc-nbs.eqsandbox.com

# determine whether or not to use istio-gateway for ingress (only 1 ingress should be used to prevent conflicts)
istioGatewayIngress:
  enabled: false
  host: app.test-cdc-nbs.eqsandbox.com
  gatewayNamespace: "istio-ingress"
  certificateName: ""
  certificateIssuerName: "letsencrypt-production"

mTLS:
  enabled: false

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "app.test-cdc-nbs.eqsandbox.com"

elasticSearchHost: "http://elasticsearch.default.svc.cluster.local:9200"

jdbc:
  connectionString: ""
  user: ""
  password: ""

security:
  # Used to encrypt JWT, needs to match between page builder and modernization-api
  # Random value can be generated by running: openssl rand -base64 64
  # Windows users, use git bash shell
  tokenSecret: ""
  # Used to encrypt search parameters
  # Random value can be generated by running: openssl rand -base64 32 | cut -c1-32
  parameterSecret: ""

# OIDC settings
oidc:
  enabled: "false"

ui:
  smarty:
    key: ""
  analytics:
    key: ""
  search:
    view:
      enabled: true
      table:
        enabled: true

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true