replicaCount: 1

env: "demo"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-TEST.afec219

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080
  httpsPort: 443
  gatewayPort: 8000
  pageBuilderPort: 8095

pageBuilder:
  enabled: "true"
  page:
    library:
      enabled: "true"
    management:
      create:
        enabled: "true"
      edit:
        enabled: "true"

# nginx-ingress
ingress:
  enabled: true
  className: "nginx"
  tls:
    - secretName: app.demo-cdc-nbs.eqsandbox.com
      hosts:
        - app.demo-cdc-nbs.eqsandbox.com

nbsExternalName: app-classic.demo-cdc-nbs.eqsandbox.com

# determine whether or not to use istio-gateway for ingress (only 1 ingress should be used to prevent conflicts)
istioGatewayIngress:
  enabled: false
  host: app.demo-cdc-nbs.eqsandbox.com
  gatewayNamespace: "istio-ingress"
  certificateName: ""
  certificateIssuerName: "letsencrypt-production"

mTLS:
  enabled: false

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "app.demo-cdc-nbs.eqsandbox.com"

elasticSearchHost: "http://elasticsearch.default.svc.cluster.local:9200"

jdbc:
  connectionString: ""
  user: ""
  password: ""

ui:
  smarty:
    key: ""
  analytics:
    key: ""
  search:
    view:
      enabled: true
      table:
        enabled: true

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true