replicaCount: 1

env: "prod"

image:
  #repository: "public.ecr.aws/o1z7u2g7/cdc-nbs-modernization/nnd-service"
  repository: "quay.io/us-cdcgov/cdc-nbs-modernization/nnd-service"
  pullPolicy: IfNotPresent
  tag: "v1.1.5"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8098"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8081
  httpsPort: 443


resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "data.EXAMPLE_DOMAIN"


# dbserver is passed in as an environment variable. It is just the database endpoint
jdbc:
  dbserver: "EXAMPLE_DB_ENDPOINT"
  username: "EXAMPLE_ODSE_DB_USER"
  password: "EXAMPLE_ODSE_DB_USER_PASSWORD"

#authUri: "http://keycloak.keycloak.svc.cluster.local/realms/NBS"
authUri: "http://keycloak.default.svc.cluster.local/auth/realms/NBS"

log:
  path: "/usr/share/nndservice/data"

pvc:
  diPvClaim:
    storageClass: efs-nndservice
    storageRequest: 20Gi

efsFileSystemId: "EXAMPLE_EFS_ID"

cloudProvider: aws

#Azure PVC Settings#
azure:
  files:
    resourceGroupName: 
    storageAccountName: 
    storageClass: azurefile-csi-private-nnd
    storageRequest: 20Gi


# Override available for readiness and liveness probes: path, port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true
