replicaCount: 1

env: "feature"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 7.11.0-SNAPSHOT.6d152cb

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8098"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8081
  httpsPort: 443

resources:
  limits:
    memory: "1Gi"  
    cpu: "500m"      
  requests:
    memory: "512Mi"  
    cpu: "250m"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "dataingestion.feature.nbspreview.com"

jdbc:
  dbserver: ""
  username: ""
  password: ""

authUri: ""

springBootProfile: "dev"

log:
  path: "/usr/share/nndservice/data"

pvc:
  diPvClaim:
    storageClass: efs-nndservice
    storageRequest: 20Gi

efsFileSystemId: ""

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true