apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "page-builder-api.fullname" . }}
  labels:
    {{- include "page-builder-api.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "page-builder-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "page-builder-api.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "page-builder-api.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- ne .Values.probes.readiness.enabled true }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds | default "60" }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds | default "30" }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold | default "5" }}
          {{- end }}

          {{- ne .Values.probes.liveness.enabled true }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds | default "120" }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds | default "60" }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold | default "5" }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          command: ['java', '-Duser.timezone={{ (.Values).timezone | default "UTC" }}', '-jar', 'api.jar']
          args: [
            '--nbs.security.oidc.enabled={{ .Values.oidc.enabled }}',
            {{- if ((.Values).oidc).uri}}
            '--nbs.security.oidc.uri={{ .Values.oidc.uri }}',
            {{- else}}
            '--nbs.security.oidc.uri=https://{{ .Values.ingressHost }}/auth/realms/nbs-users',
            {{- end }}  
            {{- if ((.Values).security).tokenSecret }}
            '--nbs.security.tokenSecret={{ .Values.security.tokenSecret }}',
            {{- end }}
            '--spring.datasource.url={{ .Values.jdbc.connectionString }}', 
            '--spring.datasource.username={{ .Values.jdbc.user }}', 
            '--spring.datasource.password={{ .Values.jdbc.password }}', 
            '--nbs.wildfly.url=https://{{ .Values.nbsExternalName }}', 
            '--server.port={{ .Values.service.port }}']
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
