replicaCount: 1

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.19.0-SNAPSHOT.73ae5b1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8443

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/upstream-vhost: "localhost:8443"
    nginx.ingress.kubernetes.io/proxy-redirect-from: "https://localhost:8443"
    nginx.ingress.kubernetes.io/proxy-redirect-to: "https://nifi.int1.nbspreview.com"
    cert-manager.io/cluster-issuer: "letsencrypt-production"
  tls:
    - secretName: nifi.int1.nbspreview.com
      hosts:
        - nifi.int1.nbspreview.com
  hosts:
    - host: nifi.int1.nbspreview.com
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nifi
            port:
              number: 8443

resources:
  limits:
    memory: "2Gi"  
    cpu: "500m"      
  requests:
    memory: "1Gi"  
    cpu: "250m"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

containerPort: 8443

cloudProvider: aws

azure:
  files:
    storageRequest: 50Gi
    storageAccountName: 
    resourceGroupName: 

#AWS PVC Settings

pvc:
  nifiPvClaim:
    storageRequest: 50Gi

efsFileSystemId: ""

### Nifi Configurations ###

jvmheap:
  init: "2g"
  max: "2g"

jdbcConnectionString: ""
elasticSearchHost: "http://elasticsearch.default.svc.cluster.local:9200"

# Default NiFi Admin Username and Password. Password must be minimum of 12 characters
singleUserCredentialsUsername: ""
singleUserCredentialsPassword: ""

# NiFi Sensitive Props Key. Specifies the source string used to derive an encryption key.
# The Sensitive Properties Key is not the encryption key itself, but the password from which NiFi derives the actual encryption key.
nifiSensitivePropsKey: ""
