{{- if .Values.ingress.enabled -}}
{{- $fullName := include "modernization-api.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: main-ingress-resource
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/service-upstream: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "X-Frame-Options: Allow";
      more_set_headers "Cross-Origin-Opener-Policy: same-origin";      

    # nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    # nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    # nginx.ingress.kubernetes.io/proxy-connect-timeout: "3600"
    # nginx.ingress.kubernetes.io/use-regex: "true"
    #nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: {{ .Values.ingress.className }}
  tls:
    - secretName: {{ .Values.ingressHost }}
      hosts:
        - {{ .Values.ingressHost }}
  rules:
    - host: {{ .Values.ingressHost }}
      http:
        paths:                 
          - path: "/auth/realms/nbs-users/"
            pathType: Prefix
            backend:
              service:
                name: keycloak
                port:
                  name: http
          - path: "/auth/robots.txt"
            pathType: Exact
            backend:
              service:
                name: keycloak
                port:
                  name: http         
          - path: "/auth/js/"
            pathType: Prefix
            backend:
              service:
                name: keycloak
                port:
                  name: http  
          - path: "/auth/resources/"
            pathType: Prefix
            backend:
              service:
                name: keycloak
                port:
                  name: http  
          - path: /favicon.ico
            pathType: ImplementationSpecific
            backend:
              service:
                name: nbs-gateway-svc  #nbs-gateway-ext
                port:
                  number: {{ .Values.service.gatewayPort }} #443
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: nbs-gateway-svc
                port:
                  number: {{ .Values.service.gatewayPort }} #443
{{- end }}

