{{- if .Values.ingress.enabled -}}
{{- $fullName := include "modernization-api.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: main-ingress-resource-cached
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/service-upstream: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "X-Frame-Options: Allow";
      more_set_headers "Cross-Origin-Opener-Policy: same-origin";       
      more_set_headers "Cache-Control: max-age=1209600, immutable";  
spec:
  ingressClassName: {{ .Values.ingress.className }}
  tls:
    - secretName: {{ .Values.ingressHost }}
      hosts:
        - {{ .Values.ingressHost }}
  rules:
    - host: {{ .Values.ingressHost }}
      http:
        paths:          
          - path: '/(?!auth).+\.(jpg|svg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|pdf|txt|tar|wav|bmp|rtf|js|flv|swf|ttf|woff|woff2)$'
            pathType: ImplementationSpecific
            backend:
              service:
                name: nbs-gateway-svc
                port:
                  number: {{ .Values.service.gatewayPort }} #443
{{- end }}