replicaCount: 1
env: "int1"
image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.b64602a
# Host URL for application
ingressHost: app.int1.nbspreview.com
# URL for access to classic application
nbsExternalName: app-classic.int1.nbspreview.com
#Database access credentials
jdbc:
  connectionString: ""
  user: ""
  password: ""
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8095
  httpsPort: 443
  gatewayPort: 8000
# determine whether or not to use nginx for ingress (only 1 ingress should be used to prevent conflicts)
ingress:
  enabled: true
  className: "nginx"
  # tls:
  #   - secretName: app.example.com
  #     hosts:
  #       - app.example.com
# determine whether or not to use istio-gateway for ingress (only 1 ingress should be used to prevent conflicts)
istioGatewayIngress:
  enabled: false
  # host: app.example.com
  gatewayNamespace: "istio-ingress"
  certificateName: ""
  certificateIssuerName: "letsencrypt-production"
# Kubernetes resource limits
resources:
  limits:
    memory: "1Gi"
    cpu: "500m"
  requests:
    memory: "512Mi"
    cpu: "250m"
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
security:
  # Used to encrypt JWT, needs to match between page builder and modernization-api
  # Random value can be generated by running: openssl rand -base64 64
  # Windows users, use git bash shell
  tokenSecret: ""
# OIDC settings
oidc:
  enabled: "true"
  issuerUri: "https://app.int1.nbspreview.com/auth/realms/nbs-users"
nodeSelector: {}
tolerations: []
affinity: {}
# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true
