replicaCount: 1

env: "prod"

image:
  repository: "quay.io/us-cdcgov/cdc-nbs-modernization/page-builder-api"
  pullPolicy: IfNotPresent
  tag: "v1.3.7"

# Host URL for application
ingressHost: "app.EXAMPLE_DOMAIN"

# URL for access to classic application
nbsExternalName: app-classic.EXAMPLE_DOMAIN

# The timezone to initialize the JVM with
timezone: "UTC"

#Database access credentials
jdbc:
  connectionString: "jdbc:sqlserver://EXAMPLE_DB_ENDPOINT:1433;databaseName=EXAMPLE_DB_NAME;user=EXAMPLE_ODSE_DB_USER;password=EXAMPLE_ODSE_DB_USER_PASSWORD;encrypt=true;trustServerCertificate=true;"
  user: "EXAMPLE_ODSE_DB_USER"
  password: "EXAMPLE_ODSE_DB_USER_PASSWORD"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8095
  httpsPort: 443
  gatewayPort: 8000

# determine whether or not to use nginx for ingress (only 1 ingress should be used to prevent conflicts)
ingress:
  enabled: true
  className: "nginx"
  # tls:
  #   - secretName: app.EXAMPLE_DOMAIN
  #     hosts:
  #       - app.EXAMPLE_DOMAIN

# determine whether or not to use istio-gateway for ingress (only 1 ingress should be used to prevent conflicts)
istioGatewayIngress:
  enabled: false
  # host: app.EXAMPLE_DOMAIN
  gatewayNamespace: "istio-ingress"
  certificateName: ""
  certificateIssuerName: "letsencrypt-production"

# Kubernetes resource limits
resources:
  limits:
    memory: "4Gi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

security:
  # Used to encrypt JWT, needs to match between page builder and modernization-api
  # Random value can be generated by running: openssl rand -base64 64 | tr -d '\n'
  # Windows users, use git bash shell
  tokenSecret: "EXAMPLE_TOKEN_SECRET"

# OIDC settings
#  must be enabled and configured in nbs-gateway
oidc:
  enabled: "true"
  # specifies the uri for the OIDC issuer, defaults to https://ingressHost/auth/realms/nbs-users
  uri: ""

nodeSelector: {}

tolerations: []

affinity: {}

# Override available for readiness and liveness probes: path, port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true
