replicaCount: 1

env: "prod"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: "1.0.1-SNAPSHOT.f4fdaa7"

# Host URL for application
ingressHost: "app2.fts2.nbspreview.com"

# URL for access to classic application
nbsExternalName: app-classic.fts2.nbspreview.com

#Database access credentials
jdbc:
  connectionString: ""
  user: ""
  password: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8095
  httpsPort: 443
  gatewayPort: 8000

# determine whether or not to use nginx for ingress (only 1 ingress should be used to prevent conflicts)
ingress:
  enabled: true
  className: "nginx"
  # tls:
  #   - secretName: app2.fts2.nbspreview.com
  #     hosts:
  #       - app2.fts2.nbspreview.com

# determine whether or not to use istio-gateway for ingress (only 1 ingress should be used to prevent conflicts)
istioGatewayIngress:
  enabled: false
  # host: app2.fts2.nbspreview.com
  gatewayNamespace: "istio-ingress"
  certificateName: ""
  certificateIssuerName: "letsencrypt-production"

# Kubernetes resource limits
resources:
  limits:
    memory: "4Gi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

security:
  # Used to encrypt JWT, needs to match between page builder and modernization-api
  # Random value can be generated by running: openssl rand -base64 64
  # Windows users, use git bash shell
  tokenSecret: ""

# OIDC settings
oidc:
  enabled: "true"
  issuerUri: "https://app.fts2.nbspreview.com/auth/realms/nbs-users"

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true