apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dataingestion-service.fullname" . }}
  labels:
    {{- include "dataingestion-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "dataingestion-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dataingestion-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "dataingestion-service.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          {{- if .Values.probes.readiness.enabled | default "true"  }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.probes.readiness.port | default "8081" }}
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds | default "30" }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds | default "10" }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold | default "5" }}
          {{- end }}

          {{- if .Values.probes.liveness.enabled | default "true" }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.probes.readiness.port | default "8081" }}
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds | default "60" }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds | default "30" }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold | default "5" }}
          {{- end }}

          ports:
            - name: http
              containerPort: 8081
              protocol: TCP
          env:
            - name: NBS_DBSERVER
              value: {{ .Values.jdbc.dbserver }}
            - name: NBS_DBUSER
              value: {{ .Values.jdbc.username }}
            - name: NBS_DBPASSWORD
              value: {{ .Values.jdbc.password }}
            - name: BOOTSTRAP_SERVERS
              value: {{ .Values.kafka.cluster }}
            - name: DI_LOG_PATH
              value: {{ .Values.log.path }}
            - name: DI_AUTH_URI
              value: {{ .Values.authUri }}
            - name: DI_SFTP_ENABLED
              value: {{ .Values.sftp.enabled }}
            - name: DI_SFTP_HOST
              value: {{ .Values.sftp.host }}  
            - name: DI_SFTP_USER
              value: {{ .Values.sftp.username }}
            - name: DI_SFTP_PWD
              value: {{ .Values.sftp.password }}
            - name: DI_SFTP_ELR_FILE_EXTNS
              value: {{ .Values.sftp.elrFileExtns }}
            - name: DI_SFTP_FILEPATHS
              value: {{ .Values.sftp.filePaths }}
            - name: DI_SERVER_HOST
              value: {{ .Values.ingressHost }}
            - name: SERVICE_TZ
              value: {{ .Values.timezone | default "UTC" }}
            - name: KAFKA_CONCURRENCY
              value: "{{ .Values.kafkaConcurrency}}"
            - name: API_PAYLOAD_MAX_SIZE
              value: "{{ .Values.apiPayloadMaxSize}}"
            - name: OBR_SPLITTING_ENABLED
              value: "{{ .Values.features.obrSplitting.enabled}}"
          volumeMounts:
          - mountPath: /usr/share/dataingestion/data
            name: di-persistent-storage     
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: di-persistent-storage
        persistentVolumeClaim:
          claimName: {{ include "dataingestion-service.fullname" . }}-di-pvc
