replicaCount: 1

env: "dts1"
timezone: "UTC"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.0805062

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8097
  httpsPort: 443

# Kubernetes resource limits
resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

jdbc:
  username: ""
  password: ""

odse:
  dburl: ""

kafka:
  cluster: ""

log:
  path: "/usr/share/ldfdatareporting/data"

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true
