replicaCount: 1

env: "dts1"
timezone: "UTC"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.607873a

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8093
  httpsPort: 443

# Kubernetes resource limits
resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

jdbc:
  username: ""
  password: ""

odse:
  dburl: ""

rdb:
  dburl: ""

featureFlag:
  phcDatamartEnable: "true"

kafka:
  cluster: ""

log:
  path: "/usr/share/investigationreporting/data"

