replicaCount: 1

env: "feature"
timezone: "UTC"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: "1.0.1-SNAPSHOT.e170979"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8093
  httpsPort: 443

ingress:
  enabled: true
  className: "nginx"
  tls:
  - secretName: app.feature.nbspreview.com
    hosts:
    - app.feature.nbspreview.com

# Kubernetes resource limits
resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "app.feature.nbspreview.com"

jdbc:
  username: ""
  password: ""

odse:
  dburl: ""

rdb:
  dburl: ""

featureFlag:
  phcDatamartEnable: "true"
  bmirdCaseEnable: "true"
  contactRecordEnable: "true"
  treatmentEnable: "true"

kafka:
  cluster: ""

log:
  path: "/usr/share/investigationreporting/data"

