replicaCount: 1

env: "feature"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.28f097e

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8081
  httpsPort: 443

reportingService:
  enabled: "true"
  personReportingServicePort: 8091
  organizationReportingServicePort: 8092
  investigationReportingServicePort: 8093
  observationReportingServicePort: 8094
  postProcessingReportingServicePort: 8095
  ldfdataReportingServicePort: 8097

dataprocessingService:
  enabled: "true"
  port: 8082

nndService:
  enabled: "true"
  port: 8081

srtedataService:
  enabled: "true"
  port: 8084

dataExtraction:
  enabled: "true"
  port: 8090

caseNotification:
  enabled: "true"
  port: 8093 

xmlHl7Parser:
  enabled: "true"
  port: 8088

compare:
  enabled: "false"
  port: 8085


ingress:
  enabled: true
  className: "nginx"
  tls:
  - secretName: dataingestion.feature.nbspreview.com
    hosts:
    - dataingestion.feature.nbspreview.com

resources:
  limits:
    memory: "1Gi"  
    cpu: "500m"      
  requests:
    memory: "512Mi"  
    cpu: "250m"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "dataingestion.feature.nbspreview.com"

jdbc:
  dbserver: ""
  username: ""
  password: ""

kafka:
  cluster: ""

log:
  path: "/usr/share/dataingestion/data"

cloudProvider: aws

#Azure PVC Settings#
azure:
  files:
    resourceGroupName: 
    storageAccountName: 
    storageClass: azurefile-csi-private-di
    storageRequest: 20Gi

#AWS PVC Settings#

pvc:
  diPvClaim:
    storageClass: efs-dataingestion
    storageRequest: 20Gi

efsFileSystemId: "EXAMPLE_EFS_ID"

authUri: ""

sftp:
  enabled: ""
  host: ""
  username: ""
  password: ""
  elrFileExtns: "txt,hl7"
  filePaths: "/"

features:
  obrSplitting:
    enabled: false
  hl7BatchSplitting:
    enabled: false

apiPayloadMaxSize: "100MB"

springBootProfile: "dev"

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true

timezone: "UTC"