replicaCount: 1

env: "feature"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT-DI-PERFORM-1.0.2.55af263

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8081
  httpsPort: 443

ingress:
  enabled: true
  className: "nginx"
  tls:
  - secretName: dataingestion.feature.nbspreview.com
    hosts:
    - dataingestion.feature.nbspreview.com

reportingService:
  enabled: "true"
  personReportingServicePort: 8091
  organizationReportingServicePort: 8092
  investigationReportingServicePort: 8093
  observationReportingServicePort: 8094
  postProcessingReportingServicePort: 8095
  ldfdataReportingServicePort: 8097

dataprocessingService:
  enabled: "true"
  port: 8082

nndService:
  enabled: "true"
  port: 8081

srtedataService:
  enabled: "true"
  port: 8084


# Kubernetes resource limits
resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "dataingestion.feature.nbspreview.com"

jdbc:
  dbserver: ""
  username: ""
  password: ""

kafka:
  cluster: ""

log:
  path: "/usr/share/dataingestion/data"

cloudProvider: aws

#Azure PVC Settings#
azure:
  files:
    resourceGroupName: 
    storageAccountName: 
    storageClass: azurefile-csi-private-di
    storageRequest: 20Gi

#AWS PVC Settings#

pvc:
  diPvClaim:
    storageClass: efs-dataingestion
    storageRequest: 20Gi

efsFileSystemId: "EXAMPLE_EFS_ID"

authUri: ""

sftp:
  enabled: ""
  host: ""
  username: ""
  password: ""
