replicaCount: 1

env: "demo"

image:
  repository: 501715613725.dkr.ecr.us-east-1.amazonaws.com/cdc-nbs-modernization/data-ingestion-service
  pullPolicy: IfNotPresent
  tag: 7.11.1-SNAPSHOT.944a27b

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8080"
  #prometheus.io/scheme: "https"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080
  httpsPort: 443

reportingService:
  enabled: "true"
  personReportingServicePort: 8091
  organizationReportingServicePort: 8092
  investigationReportingServicePort: 8093
  observationReportingServicePort: 8094
  postProcessingReportingServicePort: 8095
  ldfdataReportingServicePort: 8097

dataprocessingService:
  enabled: "false"
  port: 8082

nndService:
  enabled: "false"
  port: 8081

srtedataService:
  enabled: "true"
  port: 8084

dataExtraction:
  enabled: "true"
  port: 8090

caseNotification:
  enabled: "true"
  port: 8093 

xmlHl7Parser:
  enabled: "true"
  port: 8088

compare:
  enabled: "false"
  port: 8085

ingress:
  enabled: true
  className: "nginx"
  tls:
  - secretName:
    hosts:
    -

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingressHost: "dataingestion.demo.nbspreview.com"

jdbc:
  dbserver: "cdc-nbs-legacy-rds-mssql.c1yhzcwwxisa.us-east-1.rds.amazonaws.com"
  username: "admin"
  password: ""

kafka:
  cluster: "b-1.mskclusterdevelopment.yqces1.c3.kafka.us-east-1.amazonaws.com:9092"

log:
  path: "/usr/share/dataingestion/data"

cloudProvider: aws

#Azure PVC Settings#
azure:
  files:
    resourceGroupName: 
    storageAccountName: 
    storageClass: azurefile-csi-private-di
    storageRequest: 20Gi

#AWS PVC Settings#

pvc:
  diPvClaim:
    storageClass: efs-dataingestion
    storageRequest: 20Gi

efsFileSystemId: "EXAMPLE_EFS_ID"

authUri: ""

sftp:
  enabled: ""
  host: ""
  username: ""
  password: ""
  elrFileExtns: "txt,hl7"
  filePaths: "/"

features:
  obrSplitting:
    enabled: false
  hl7BatchSplitting:
    enabled: false
# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true