replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 2323

env:
  rdb_user: ""
  db_host: ""
  odse_user: ""
  update_database: "false"
  PHCMartETL_cron_schedule: "0 0 * * *"
  db_trace_on: "no"
  MasterEtl_cron_schedule: "0 0 * * *"
  ADDITIONAL_SAS_FLAGS: "-DEBUG"
  rdb_pass: ""
  sas_user_pass: ""
  odse_pass: ""

etl:
  schedule: "0 0 * * *"



# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true