deployment:
  replicas: 1

env: "int1"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.5436b65

gatewayService:
  ports:
    - name: http
      port: 8000
      targetPort: 8000
    - name: https
      port: 443
      targetPort: 8000
  type: ClusterIP
kubernetesClusterDomain: cluster.local

landing:
  base: "/welcome"

welcome:
  enabled: "true"

patient:
  file:
    enabled: false

pageBuilder:
  enabled: "true"
  page:
    library:
      enabled: "true"
    management:
      create:
        enabled: "true"
      edit:
        enabled: "true"

deduplication:
  enabled: "true"
  merge:
    enabled: "true"

system:
  management:
    enabled: "true"

resources:
  limits:
    memory: "1Gi"
    cpu: "500m"
  requests:
    memory: "512Mi"
    cpu: "250m"

nbsExternalName: app-classic.int1.nbspreview.com

ingressHost: "app.int1.nbspreview.com"

modernizationApiHost: "modernization-api.default.svc.cluster.local:8080"

modernizationUIHost: "modernization-api.default.svc.cluster.local:8080"

pagebuilderApiHost: "page-builder-api.default.svc.cluster.local:8095"

deduplicationApiHost: "deduplication-api.default.svc.cluster.local:8083"

# OIDC settings
oidc:
  enabled: "true"
  client:
    id: ""
    secret: ""

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true
