deployment:
  replicas: 1

env: "test"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.188e013

gatewayService:
  ports:
    - name: http
      port: 8000
      targetPort: 8000
    - name: https
      port: 443
      targetPort: 8000
  type: ClusterIP
kubernetesClusterDomain: cluster.local

resources: {}

nbsExternalName: app-classic.test-cdc-nbs.eqsandbox.com

ingressHost: "app.test-cdc-nbs.eqsandbox.com"

modernizationApiHost: "modernization-api.default.svc.cluster.local:8080"

modernizationUIHost: "modernization-api.default.svc.cluster.local:8080"

pagebuilderApiHost: "page-builder-api.default.svc.cluster.local:8095"

# OIDC settings
oidc:
  enabled: "true"
  issuerUri: "https://app.test.nbspreview.com/auth/realms/nbs-users"
  client:
    id: ""
    secret: ""


# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true