deployment:
  replicas: 1

env: "dev"

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: 1.0.1-SNAPSHOT.8e61393

gatewayService:
  ports:
  - name: http
    port: 8000
    targetPort: 8000
  - name: https
    port: 443
    targetPort: 8000
  type: ClusterIP
kubernetesClusterDomain: cluster.local

resources: {}

nbsExternalName: app-classic.dev-cdc-nbs.eqsandbox.com

ingressHost: "app.dev-cdc-nbs.eqsandbox.com"

modernizationApiHost: "modernization-api.default.svc.cluster.local:8080"

# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true