deployment:
  replicas: 1

env: "auto"

image:
  repository: "public.ecr.aws/o1z7u2g7/cdc-nbs-modernization/nbs-gateway"
  pullPolicy: IfNotPresent
  tag: v1.0.9

gatewayService:
  ports:
  - name: http
    port: 8000
    targetPort: 8000
  - name: https
    port: 443
    targetPort: 8000
  type: ClusterIP
kubernetesClusterDomain: cluster.local

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

pageBuilder:
  enabled: "false"

resources: {}
  # requests:
  #   cpu: "1"

nbsExternalName: app-classic.fts1.nbspreview.com

ingressHost: "app.fts1.nbspreview.com"

modernizationApiHost: "modernization-api.default.svc.cluster.local:8080"

modernizationUIHost: "modernization-api.default.svc.cluster.local:8080"

pagebuilderApiHost: "page-builder-api.default.svc.cluster.local:8095"

# OIDC settings
oidc:
  enabled: "true"
  issuerUri: "https://app.fts1.nbspreview.com/auth/realms/nbs-users"
  client:
    id: ""
    secret: ""


# Override available for readiness and liveness probes: port, initialDelaySeconds, periodSeconds, failureThreshold
probes:
  readiness:
    enabled: true
  liveness:
    enabled: true